.single-main{
    
    height: 300vh;
}
.single-cont{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.single-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column; 
    position: relative;
}

.turf-name-section{
   
    height: 100px;
    display: flex; 
    width: 90%; 
    
}
.turf-name-div{
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 30px;
    gap: 20px;
    flex-direction: column
}
.turf-name-text{
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 50px;
    bottom: 20px;
    
}
.turf-address-text{
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: large;
    color: rgb(44, 43, 43);
}

.book-img-sect{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 50%;
    position: relative;
    top: 80px;
    width: 100%;
}
.book-img-div{
  
    position: absolute;
    margin: 20px;
    height: 60%;
    left: 25px;
    width: 60%;
    display: block;
}
.book-div{
    margin: 5px;
    width: 100%;
    display: block;
}
.turf-poster{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.timing-cont{
   
   width: 30%;
  display: flex;
   position:absolute;
   left: 900px;
   top: 5px;
   flex-direction: column;
   height: 50%;   
}
.timing-div{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(183, 211, 223);
    margin: 20px;
    height: 20%;
    border-radius: 10px;
    width: 90%;
    gap: 5px;
   
}
.timing-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: larger;
    margin: 10px;
}
.timings{
    margin: 10px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.location-div{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(183, 211, 223);
    margin: 20px;
    height: 20%;
    border-radius: 10px;
    width: 90%;
    gap: 5px;   
}
.location-text{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    margin: 10px;
}
.address-text{
      margin: 10px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.book-now{
    
    width: 90%;
    margin: 20px;
    height: 10%;
    border-radius: 10px;
    background-color: rgb(11, 153, 70);
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-now-span{
    font-size: large;
    letter-spacing: 0.3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
}