.d-f{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    gap: 30px;
}
.d-f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-p{
    cursor: pointer;
}
.px-3{
    padding-top: 1rem;
}
.f-size{
    font-size: xx-large;
}
.f-6{
    font-weight: 600;
}
.color-g{
    color: rgb(0, 189, 78);
}
.py-3{
    padding-left: 1rem;
}
.gap{
    gap: 20px;
}

.font-p{
    font-family: 'poppins';
    
}
.ls{
    letter-spacing: 0.4px;
}
.justify-content-between{
    justify-content: space-evenly;
}

.w-100{
    width: 15%;
}
.w-200{
    width: 800px;
}

.none{
    list-style: none;
}
.d-flex{
    display: flex;
      
}

.mt{
    margin-top: 1rem;
}
.bor{
    border: 2px solid red;
}
.h-100{
    height: 100%;
}
.flex-c{
    flex-direction: column;
}
.font-s{
    font-family:  "Science Gothic";
}

.p-left{
    position: relative;
    left: 100px;
}
.ant-layout-header{
    background-color: white !important;
    display: flex !important;    
}
.m-item{
    display: flex;
    justify-content: center;
    
}
.mb{
    margin-bottom: 1rem;
    
}
.m-item:hover{
    background-color: green;
    border-radius: 10px;
    width: 18%;
    
    
}

.m-item:hover .menu-label,
.m-item:hover .menu-icon {
    color: white !important; /* forces override */
}




