body{
    margin: 0;
}
.app-header{
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;
 width: 100vw;
 height: 100px;
 display: flex;
 background-color: white;
}

.app-nav{
 width: 100%;
 margin: 10px;
 display: flex;
 justify-content: space-evenly;
 position: relative;
}
.logo-cont{
    
    width: 100px;
    height: 100%;
    position: relative;
    left: 30px;
}
.logo{
    letter-spacing: 0.4px;
    font-size: xx-large;
    color: rgb(75, 156, 75);
}

.font-style{
    font-family: "Science Gothic", sans-serif;}
    ul{
    display: flex;
    position: relative;
    width: 50%;
    left: 0px;
    align-items: center;
    justify-content: space-around;
}
ul>li{
    list-style: none;
    display: flex;
    gap: 10px;
}
li>a{
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
}
ul >li:hover *{
color: rgb(75, 156, 75);
cursor: pointer;
}

ul>li>a>span{
    font-size: larger;
margin-top: 10px;
font-weight: 500;
}
.profile-div{
    width: 10%;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor-pointer{
    cursor: pointer;
}
.border-5{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
}
.profile-bar{
position: absolute;
top: 100px;
right: 130px;
height: 80px;
width: 100px;

}
.profile-bar ul{
    list-style: none;
    
    padding: 0;
    margin: 0 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    

}.profile-bar li{
    background-color: white;
    height: 50% ;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid rgb(155, 144, 144);
   border-radius: 5px;
}.profile-bar span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100px;
}
.home-cont{
    width: 100vw;
    height: 400vh;
    display: flex;
    margin-top: 10px; 
    flex-direction: column;
    }
.home-div{
    width: 100%;
    height: 25%;
    top: 20px;
    display: flex;
    background-color: white;
     
}
.hero-div{
    background-color:white;
    width: 60%;
    display: flex;
    height: 90%;
    }
.hero-cont{
   display: flex;
   flex-direction: column; 
   width: 40%;
}
.hero-h1{

    position: relative;
}
.hero-h1 h1{
    font-size: 4.2rem;
    position: absolute;
    top: 70px;
    left: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color:rgb(78, 72, 72) ;
}
.hero-h2{
    position: relative;
    top:200px;
   left: 5px;
}
.hero-h2 h2{
    font-size: 2.2rem;
}
.hero-btn{
    position: relative;
    top: 210px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-btn-spn{
width: 150px;
height: 50px;
border: none;
border-radius: 10px;
background-color:rgb(75, 156, 75) ;
}
.hero-btn-spn span{
      color: white;
      font-weight: 600;
      font-size: larger;  
}
.banner-cont{
    height: 20%; 
    width: 100%;
}
.banner-div{
margin-left: 10px;
margin-right: 10px;
height: 100%;
width: 100%;
display: flex;
justify-content: space-evenly;
}
.banner-img{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90%;
}
.banner-img >img{
    height: 100%; 
}
.banner-text{

    width: 50%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.banner-text span{
    font-size: medium;
    position: relative;
    top: 50px;
    right: 30px;
    font-weight: 600;
    display: inline-block;
}
.banner-text span::after{
    border: 1px solid green;
    content: "";
    width: 95px;
    height: 1px;
    background-color: rgb(94, 180, 43);
    position: absolute;
    top: 25px;
    right: 120px;
}
.banner-text h2{
    position: relative;
    top: 50px;
    right: 70px;
    font-size: x-large;
} 
.banner-text p {
   font-size: larger;
    position: relative;
    top: 30px;
    left: 10px;
    color: rgb(61, 57, 57);
    width: 60%;
    height: 40%;
}
.e-cont{
height: 20%;

}
.e-div{
   
    height: 90%;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    background-color: rgb(32, 29, 29);
    width: 95%;
    border-radius: 10px;
}
.div1{ 
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.e1{
    width: 25%;
    display: flex;
    gap: 20px;
    border-right: 1px solid white;
    
}
.e1-cont{
    width: 10%;
    height:100%;
    display: flex;
  
}
.e1-text{
height: 10%;
width: 80%;

}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.e1-text h2{
    font-size: larger;
    color: white;
    position: relative;
    bottom: 9px;
}
.e1-text p{
    color: white;
    font-size: larger;
    margin: 0;
    position: relative;
    bottom: 10px;
    font-weight: 600;
}
.choose{
    border: 2px solid red;
    height: 50vh;
    display: flex;
}
.choose-cont{
    border: 2px solid red;
    width: 50%;
}