* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.d-grid{
    display: grid;
    grid-template-rows: repeat(1fr,3);
}
.center{
    justify-content: center;
    align-items: center;
}
.max-h{
    max-height: 400px;
}
.ant-layout-sider{
    background-color: white !important;
    }
 .ant-layout-sider-children{
    display: flex;
    width: 300px;
    border: 2px solid rgb(233, 235, 236);
    border-radius: 10px;
 }   
.custom-input{
border: 2px solid lightgray;
margin-top: 25px;
width: 250px;
text-align: center;
border-radius: 10px;
font-size: large;
}
body {
  background-color:rgb(229, 231, 235);
}
.b-top{
    border-top: 2px solid rgb(225, 230, 231);
}
.h-1{
    height: 100px;
}
.mx-45{
    max-height: 45px;
}
.ant-card{
    background-color:rgb(229, 231, 235) !important ;
}
.d-f{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    gap: 30px;
}
.d-f-center{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.p-top{
    position: relative;
    top: 100px;
}
.w-100{
    width: 100%;
   
}
.c-p{
    cursor: pointer;
}
.pr-3{
    padding-right: 1rem;
}
.w-50{
    width: 50%;
    
}
.red{
    border: 1px solid rgb(240, 232, 232);
}
.w-7{
    width: 70%;
}
.font-larger{
    font-size: larger;
}
.font-large{
    font-size: large;
}
.w-color{
    background-color:white;
}
.px-3{
    padding-top: 1rem;
}
.border{
    border: 2px solid rgb(233, 235, 236);
}
.ant-layout-has-sider{
    background-color: white !important;
}

.f-size{
    font-size: xx-large;
}
.f-6{
    font-weight: 600;
}
.color-g{
    color: rgb(0, 189, 78);
}
.py-3{
    padding-left: 1rem;
}
.gap{
    gap: 20px;
}
.m-20{
    margin: 30px;
}
.b-color{
    color:rgb(59, 69, 64)
}
.font-p{
    font-family: 'poppins';
    
}
.ls{
    letter-spacing: 0.4px;
}
.justify-content-between{
    justify-content: space-evenly;
}


.w-200{
    width: 800px;
}

.none{
    list-style: none;
    text-decoration: none;
}
.d-flex{
    display: flex;
      
}
.end{
    justify-content: end;
}
.m-auto{
    margin: 0 auto;
}
.cap{
    text-transform: capitalize;
}
.pb-5{    
padding-bottom: 50px;}

.mt{
    margin-top: 1rem;
}
.bor{
    border-radius: 10px;
}
.h-100{
    height: 100%;
}
.mh-1{
    max-height: 100px;
}
.h-50{
    height: 50%;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
.font-s{
    font-family:  "Science Gothic";
}


.p-left{
    position: relative;
    left: 100px;
    
}
.ant-layout-header{
    background-color:white !important;
    display: flex !important;  
height: 100px !important;  

}
.menu-item{
    display: flex;
    align-items: center;
    color: black;   
    
}

.g-4{
    gap: 40px;
}
.mb{
    margin-bottom: 1rem;   
}

.menu-item .active{
    border-radius: 10px; 
    color: rgb(0, 189, 78);
}
.home-input{
    background-color: rgb(240, 233, 233);
    width: 250px;
    height: 40px;
   border-radius: 10px;
   margin-right: 50px;
   display: flex;
   justify-content: end;
   align-items: center;
}
.home-input input{
    background-color: rgb(240, 233, 233);
    outline: none;
}




