.d-f{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    gap: 30px;
}
.d-f-center{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.w-100{
    width: 100%;
    border: 2px solid red;
}
.c-p{
    cursor: pointer;
}
.pr-3{
    padding-right: 1rem;
}
.w-50{
    width: 50%;
    
}
.w-color{
    background-color: white;
}
.px-3{
    padding-top: 1rem;
}

.f-size{
    font-size: xx-large;
}
.f-6{
    font-weight: 600;
}
.color-g{
    color: rgb(0, 189, 78);
}
.py-3{
    padding-left: 1rem;
}
.gap{
    gap: 20px;
}
.b-color{
    color:rgb(59, 69, 64)
}
.font-p{
    font-family: 'poppins';
    
}
.ls{
    letter-spacing: 0.4px;
}
.justify-content-between{
    justify-content: space-evenly;
}


.w-200{
    width: 800px;
}

.none{
    list-style: none;
    text-decoration: none;
}
.d-flex{
    display: flex;
      
}
.end{
    justify-content: end;
}
.m-auto{
    margin: 0 auto;
}

.mt{
    margin-top: 1rem;
}
.bor{
    border: 2px solid red;
}
.h-100{
    height: 100%;
}
.h-50{
    height: 50%;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
.font-s{
    font-family:  "Science Gothic";
}


.p-left{
    position: relative;
    left: 100px;
    
}
.ant-layout-header{
    background-color:white !important;
    display: flex !important;  
height: 100px !important;  

}
.menu-item{
    display: flex;
    align-items: center;
    color: black;   
    
}

.g-4{
    gap: 40px;
}
.mb{
    margin-bottom: 1rem;   
}

.menu-item .active{
    border-radius: 10px; 
    color: rgb(0, 189, 78);
}
.home-input{
    background-color: rgb(240, 233, 233);
    width: 250px;
    height: 40px;
   border-radius: 10px;
   margin-right: 50px;
   display: flex;
   justify-content: end;
   align-items: center;
}
.home-input input{
    background-color: rgb(240, 233, 233);
    outline: none;
}




