    body{
    margin: 0;
}
.app-header{
 position: fixed;
 border: 2px soild red;
 top: 0;
 left: 0;
 z-index: 1;
 width: 100vw;
 height: 100px;
 display: flex;
 background-color: white;
}

.app-nav{
 width: 100%;
 margin: 10px;
 display: flex;
 justify-content: space-evenly;
 position: relative;
}
.logo-cont{
    
    width: 100px;
    height: 100%;
    position: relative;
    left: 30px;
}
.logo{
    letter-spacing: 0.4px;
    font-size: xx-large;
    color: rgb(0, 181, 98);
}

.font-style{
    font-family: "Science Gothic", sans-serif;}
    ul{
    display: flex;
    position: relative;
    width: 50%;
    left: 0px;
    align-items: center;
    justify-content: space-around;
}
ul>li{
    list-style: none;
    display: flex;
    gap: 10px;
}
li>a{
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
}
ul >li:hover *{
color: rgb(75, 156, 75);
cursor: pointer;
}

ul>li>a>span{
    font-size: larger;
margin-top: 10px;
font-weight: 500;
}
.profile-div{
    width: 10%;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor-pointer{
    cursor: pointer;
}
.border-5{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
}
.profile-bar{
position: absolute;
top: 100px;
right: 130px;
height: 80px;
width: 100px;

}
.profile-bar ul{
    list-style: none;
    
    padding: 0;
    margin: 0 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    

}.profile-bar li{
    background-color: white;
    height: 50% ;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid rgb(155, 144, 144);
   border-radius: 5px;
}.profile-bar span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100px;
}
.home-cont{
    width: 100vw;
    height: 450vh;
    display: flex;
    margin-top: 10px; 
    flex-direction: column;
    gap: 20px;
    }
.home-div{
    width: 100%;
    height: 25%;
    top: 20px;
    display: flex;
    background-color: white;
     
}
.hero-div{
    background-color:white;
    width: 60%;
    display: flex;
    height: 90%;
    }
.hero-cont{
   display: flex;
   flex-direction: column; 
   width: 40%;
}
.hero-h1{

    position: relative;
}
.hero-h1 h1{
    font-size: 4.2rem;
    position: absolute;
    top: 70px;
    left: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color:rgb(78, 72, 72) ;
}
.hero-h2{
    position: relative;
    top:200px;
   left: 5px;
}
.hero-h2 h2{
    font-size: 2.2rem;
}
.hero-btn{
    position: relative;
    top: 210px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-btn-spn{
width: 150px;
height: 50px;
border: none;
border-radius: 10px;
background-color:rgb(75, 156, 75) ;
}
.hero-btn-spn span{
      color: white;
      font-weight: 600;
      font-size: larger;  
}
.banner-cont{
    height: 20%; 
    width: 100%;
}
.banner-div{
margin-left: 10px;
margin-right: 10px;
height: 100%;
width: 100%;
display: flex;
justify-content: space-evenly;
}
.banner-img{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90%;
}
.banner-img >img{
    height: 100%; 
}
.banner-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-text span{
    font-size: medium;
    position: relative;
    top: 50px;
    right: 30px;
    font-weight: 600;
    display: inline-block;
}
.banner-text span::after{
   
    content: "";
    width: 95px;
    height: 2px;
    background-color: rgb(0, 181, 98);
    position: absolute;
    top: 25px;
    right: 120px;
}
.banner-text h2{
    position: relative;
    top: 50px;
    right: 70px;
    font-size: x-large;
} 
.banner-text p {
   font-size: larger;
    position: relative;
    top: 30px;
    left: 10px;
    color: rgb(61, 57, 57);
    width: 60%;
    height: 40%;
}
.e-cont{
height: 18%;
}
.e-div{
    height: 90%;
    margin-left: 30px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    background-color: rgb(32, 29, 29);
    width: 95%;
    border-radius: 10px;
}
.div1{ 
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.e1{
    width: 25%;
    display: flex;
    gap: 20px;
    border-right: 1px solid white;
    
}
.e1-cont{
    width: 10%;
    height:100%;
    display: flex;
  
}
.e1-text{
height: 10%;
width: 80%;

}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.e1-text h2{
    font-size: larger;
    color: white;
    position: relative;
    bottom: 9px;
}
.e1-text p{
    color: white;
    font-size: larger;
    margin: 0;
    position: relative;
    bottom: 10px;
    font-weight: 600;
}
.choose{
    height: 60vh;
    display: flex;
}
.choose-div{
    display: flex;
    width: 100%;
    margin: 10px;
}
.choose-cont{
   display: flex;
    width: 50%;
    position: relative;  
}
.choose-cont .why{
    color:black;
    font-weight: 700;
    position: absolute;
    top: 80px;
    left: 120px;
    font-size: x-large;  
}
.choose-cont h1{
    position:absolute;
    top: 100px;
    left:120px;
    font-size: 2.1rem;
    width: 230px;
}
.choose-cont p{
    position:absolute;
    top: 220px;
    left:120px;
    width: 400px;
    font-size: large;
    color: rgb(59, 55, 55);
}
.span-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 380px;
    left: 120px;
}
.span-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.span-cont span{
    margin-left: 10px;
    width: 300px;
    font-size: x-large;
    font-weight: 600;
    color: rgb(46, 45, 45);
}

.stadium-cont{  
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.stadium-cont img{
    position: relative;
    top: 100px;
    width: 500px;
    border-radius: 10px;
}
.h-book{
    border: 2px solid red;
    position: relative;
    top: 220px;
    height: 50vh;
}

.single-div{
width: 100vw;
    display: flex;  
    height: 150vh; 
    
}
.single-left{
    
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
}
.name-cont{
    
    height: 100px;
    position: relative;
}
.name-div{
    
    display: flex;
    position: absolute;
    left: 120px;
    top: 20px;
}
.name-div span{
    font-size: 2.4rem;
    font-weight: 600;
    color:  rgb(54, 51, 51);
}
.turf-img{
    position: relative;
}
.turf-img img{
    position: relative;
    left: 120px;
    width:90%;
    border-radius: 10px;
}
.sport-available{
    border: 1px solid lightblue;
    position: relative;
    left: 120px;
    display: flex;
    flex-direction: column;
    top: 20px;
    width: 90%;
    border-radius: 10px;   
}
.sport-list{
   
    margin: 10px;
}
.sport-cont{
  
  display: flex;
  gap: 20px;
}

    .sport-icon {
  font-size: x-large;      
         
}

.turf-game{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(73, 77, 78);
    width: 100px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 10px;
    gap: 5px;
}
.turf-game span{
    font-weight: 600;
    letter-spacing: 0.4px;
}
.sport-available h2{
    margin-left: 20px;
    font-size: 1.1rem;
    color:rgb(49, 47, 47);   
    padding: 0;
    margin: 10px;
}
.sport-contain{  
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.single-right{
    width: 30%;
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.book-now-cont{
background-color: rgb(0, 181, 98);
font-size: large;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
position: relative;
top: 100px;
right: 30px;
border-radius: 10px;
color: white;
height: 2.8rem;
font-weight: 600;
letter-spacing: 0.3px;
}
.timing-cont{
    border: 1px solid lightblue;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    justify-content: space-around;
    right: 30px;
    height: 100px;
    width: 100%;
    border-radius: 10px;
}
.timing-cont span{
font-size: large;
font-weight: 600;
margin-left: 20px;
}
.location-div{
    border: 1px solid lightblue;
    border-radius: 10px;
    position: relative;
    top: 100px;
    right: 30px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.location-div span{
    text-transform: capitalize;
    font-size: large;
    font-weight: 600;

}
.main-cont{
    margin: 0;
    position: relative;
    top: 100px;

}
.main-div{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.book-head{
    height: 120px;
    background-color: rgb(75,156,75)
}
.book-game{
   
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content:space-around;
    gap: 20px;
    align-items: center;
}
.all-games{
    height: 70px;
    display: flex; 
    flex-direction:row-reverse; 
}
.search-game{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-game input{
    height: 40px;
    width: 400px;
    font-size: larger;
    border-radius: 20px;
    border: none;
    background-color: rgb(250, 243, 243);
    text-align: center;
    font-weight: 600;
}
.glass-div{
    position: relative;
    right: 40px;
    background-color: rgb(29, 175, 78);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.glass{
    color: white;
}
.turf-list{
       
}
.turf-cont{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    gap:20px;
    
}
.turf-div{
    height: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.12);
    
}
.turf-div img{
    height: 200px;
}
.turf-details{
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
}
.turf-details h2{
    color: rgb(66, 54, 54);
    font-size: x-large;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
    text-transform: capitalize;
}
.turf-loc{
   
    display: flex;
    gap: 10px;
}
.turf-loc span{
    text-transform: capitalize;
    font-size: large;
    position: relative;
    bottom: 30px;
    left: 10px;
    font-weight: 600;
    color: rgb(75, 69, 69);    
}
.sport-list-cont{
   display: flex; 
   gap: 10px;
   position: relative;
   bottom: 25px;
   left: 10px;
   font-size: large;
   font-weight: 600;
  
}
.book-now{
    background-color: rgb(75, 156, 75);
    height: 30px;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-now{
    font-size: large;
    font-weight: 600;
    color: white;
}

