.admin-main{
    width: 100vw;
}

.admin-div{
    display: flex;
}

.admin-cont{ 
    margin: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.admin-left{
    border: 2px solid rgb(188, 209, 216);
    position: relative;
    left: 100px;
    height: 700px;
    width: 25%;
    border-radius: 10px;
}

.admin-profile{
    height: 40%;
}

.admin-detail{
    display: flex;
    margin: 10px;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.admin-img{
    height: 30%;
    border: 1px solid lightblue;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-detail span{
    text-transform: capitalize;
    font-weight: 600;
    font-size: large;
}

.admin-info{
    
    height: 40%;
    display: flex;
    flex-direction: column;
}

.admin-manage{
    height: 20%;
    display: flex; 
    gap: 20px;  
    align-items: center;
}
.admin-manage > * {
    position: relative;
    left: 100px;
}
.admin-manage.active {
  background-color:rgb(0, 181, 98) ;
}

.admin-manage.active span {
  color: white;
  font-weight: 600;
}

.admin-manage.active .admin-icon {
  color: white;
}

.admin-right{
    border: 2px solid blue;
    position: relative;
    left: 150px;
    top: 5px;
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 10px;
}
.turf-main{
height: 100%;
position: relative;
bottom: 120px;
}
.turf-list h2{
    margin-left: 20px;
}
.turf-cont-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.turf-container{
    border: 2px solid green;
    display: flex;

}
.city-main{
    border: 2px solid red;
    position: relative;
bottom: 120px;
height: 100%;
}
