.admin-main{
    width: 100vw;
}

.admin-div{
    display: flex;
}

.admin-cont{ 
    margin: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.admin-left{
    border: 2px solid rgb(188, 209, 216);
    position: relative;
    left: 150px;
    height: 600px;
    width: 25%;
    top: 100px;
    border-radius: 10px;
    
}

.admin-profile{
    height: 40%;
}

.admin-detail{
    display: flex;
    margin: 10px;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.admin-img{
    height: 30%;
    border: 1px solid lightblue;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-detail span{
    text-transform: capitalize;
    font-weight: 600;
    font-size: large;
}

.admin-info{
    
    height: 40%;
    display: flex;
    flex-direction: column;
}

.admin-manage{
    height: 20%;
    display: flex; 
    gap: 20px;  
    align-items: center;
}
.admin-manage > * {
    position: relative;
    left: 100px;
}
.admin-manage.active {
  background-color:rgb(0, 181, 98) ;
}

.admin-manage.active span {
  color: white;
  font-weight: 600;
}

.admin-manage.active .admin-icon {
  color: white;
}

.admin-right{
    border: 2px solid rgb(188, 209, 216);
    position: relative;
    left: 180px;
    top: 100px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
}
.turf-main{
height: 100%;
position: relative;

}
.turf-list h2{
    margin-left: 20px;
}
.turf-cont-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.turf-container{
    border: 2px solid green;
    display: flex;

}
.city-main{
    
    height: 100%;
    display: flex;
    flex-direction: column;

}
.city-head{
    
    height: 100px;
}
.city-head span{
    font-size: xx-large;
    font-weight: 600;
    margin: 20px;

}
.city-head::after{
    content: "";
    border-top: 3px solid rgb(0, 189, 78);
    height: 3px;
    position: relative;
    left: 20px;
   width: 100px;  
    display: flex;
}
.add-city{
    
    position: relative;
    bottom: 30px;
}
.add-city button{
    border: none;
    position: absolute;
    left: 20px;
    height: 40px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(0, 189, 78);
}
.city-input{
    width: 50%;
    position: relative;
    top: 20px;
    left: 20px;
    outline: none;
    height: 40px;
    text-align: center;
}
.city-list{
 border: 2px solid yellow;
 position: relative;
 top: 30px;   
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.city-div{
    border: 2px solid red;
    display: flex;
    height: 40px;
    width: 30%;
   display: flex;
   margin-left: 20px;  
   align-items: center;
}
.city-div span{
    text-transform: capitalize;
    position: relative;
    left: 0px;
    font-weight: 600;
}
.icon-div{
    display: flex;
    gap: 10px;
}
.city-icon{
position: relative;
left: 20px;
font-size: x-large;
color:rgb(0, 189, 78);
}
