.game-display {
    width: 100%;
    height: 70px;
}

.manage-text {
    margin-left: 15px;
}

.add-game {
    margin-left: 8px;
    border-bottom: 1px solid rgb(210, 225, 230);
}

.custom-btn {
    margin-left: 10px;
    margin-bottom: 4px;
    background-color: rgb(16, 151, 16);
    border: 1px solid rgb(185, 199, 204);
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.game-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;       
  overflow-x: hidden;
}
.custom-card {
  max-width: 300px;  
  min-width: 200px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  
}