.turf-cont{
    margin-left: 10px;
    margin-top: 10px;
}
.card-back{
    border: 2px solid black;
    height:80%;
    overflow: scroll;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}
.custom-card-turf{
    margin: 10px;
    border-radius: 10px;
    width: 500px;
    height: 250px;
}