.nav-cont {
  height: 90px;
  background: white; 
  
}

.nav-header {
  margin: 5px;
  height: 100%;
  display: flex;
  align-items: center; 
  padding: 0 20px;
  justify-content: space-between;
}

.logo-cont {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-wrap {
  height: 100%;
  margin: 20px;
  
}

.logo-div {
  height: 100%;
}

.logo {
  height: 100%; 
  width: auto; 
  cursor: pointer;
}
.link-logo{
    text-decoration: none;
}
.logo-text{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(13, 134, 68);
    letter-spacing: 1.9px;
    margin-left: 20px;
    font-weight: 600;
}
.nav-items{
    width: 50%;
    height: 100%;
    margin-left: 10px;
}
.nav{
    display: flex;
    margin: 5px;
    height: 90%;
    position: relative;
    left: 50px;
}
.nav-ul{
    display: flex;
    gap: 20px ;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-left: 20px;
}
.nav-li{
    width: 30%;
    height: 100%;
    display: flex;
    cursor: pointer;
    gap: 15px;
}
.nav-span{
height: 100%;
}
.shoot{
    height: 90%;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: x-large;
    margin-top: 5px;
    font-weight: 600;
}
.nav-li:hover .nav-link {
    color: rgb(9, 153, 57);
}

.nav-li:hover .shoot {
  filter: brightness(0) saturate(100%) invert(47%) sepia(80%) 
          saturate(544%) hue-rotate(96deg) brightness(95%) contrast(91%);
}
.user-div{
    height: 90%;
    width: 15%;
}
.user-logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    width: 30%;
    position: relative;
    left: 30px;
    cursor: pointer;
}
.dropdown {
  position: absolute;
  top: 70px;
  right: px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 41;
}
.dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dropdown li {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}
.dropdown li:hover {
  background: #f5f5f5;
}