body{
    padding: 0;
    margin: 0;
}
.header-cont{
    height: 75px;
    display: flex;
}
.space{
    height: 100%;
    width: 100px;
}
.logo{ 
    margin-left: 10px;
    
}.image{
    text-align: center;
    margin: 8px;
}
img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.nav-cont{
    margin-left: 200px;
    width: 450px;
   }
.nav-div{
    width: 90%;
    height: 70%;
}
.ul-nav{
    
    display: flex;
    height: 50px;
    list-style: none;
    text-align: center;
    gap: 30px;
    width: 400px;    
}
.li-nav{
    cursor: pointer;
    width: 40%;
    height: 35px;
    margin-top: 2px;
    padding-top: 2%;
    display: flex;
    gap: 10px;    
}
.li-nav:hover .lin-div {
    color: rgb(31, 182, 57);
}

.li-nav:hover .icon img {
  filter: brightness(0) saturate(100%) invert(67%) sepia(81%) saturate(355%) hue-rotate(68deg) brightness(93%) contrast(90%);
}
.icon{
      width: 30px;  
}
.shoot{
    width: 100%;
}
.lin-div{
    color: black;
    text-decoration: none;  
    font-weight: 600;
    font-size: larger; 
    margin-top: 4px; 
}
.user-div{  
    margin-left: 50px;
    width: 400px;    
    margin-top: 20px; 
    display: flex;
    justify-content: space-around;
}
.user-wrap{  
    text-align: center;
    width: 50px;
    height: 40px;
    margin-left: 100px;
}

.dropdown {
  position: absolute;
  top: 70px;
  right: px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 41;
}
.dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dropdown li {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}
.dropdown li:hover {
  background: #f5f5f5;
}