.user-main {
    width: 100vw;
    position: relative;
    top: 130px;
}

.user-cont {
    display: flex;
    flex-direction: column;
}

.user-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-name {

    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.user-name h2 {
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: 600;
    color: rgb(0, 189, 78);
}

.user-info {

    width: 100%;
    position: relative;
    left: 140px;
    top: 40px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    gap: 10px;

}

.user-detail {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 20%;
    position: relative;
    left: 100px;
}

.booking-cont {
    border: 2px solid rgb(0, green, blue);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.edit-cont {
    border: 2px solid green;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.user-right {
    border: 1px solid lightblue;
    position: relative;
    border-radius: 10px;
    left: 110px;
    width: 50%;
    bottom: 20px;
    height: 400px;
}
.edit-btn{
    background-color: rgb(0, 189, 78);
    font-size: large;
    font-weight: 600;
    position: relative;
    left: 350px;
    top: 20px;
}