.book-container{
    height: 400vh;

}
.book-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.discover-container{
    height: 100px;
    
}
.discover-wrapper{
    margin: 5px;
    height: 90%;
    border-bottom: 1px solid lightblue;
    border-top: 1px solid lightblue;
    display: flex;
}
.discover-text-cont{
    width: 70%;
    margin: 10px;
    display: flex;
    position: relative;
    left: 40px;
    align-items: center;
    height: 70%;
}
.discover-text{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   letter-spacing: 0.4px;
}
.search-container{
   
    width: 50%;
    display: flex;
    align-items:center ;
    gap: 30px;
}
.search-wrapper{
    position: relative;
    left: 50px;
    width: 60%;
    height: 40px;
}
.search{
    position: relative;
    left: 30px;
    font-size: large;
    color:rgb(134, 127, 127);
}
.venue-search{
    height: 80%;
    width: 90%;
    text-align: center;
    font-size: large;
    letter-spacing: 0.3px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(194, 204, 207);
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
