.book-container{
    height: 400vh;

}
.book-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.discover-container{
    height: 100px;
    
}
.discover-wrapper{
    margin: 5px;
    height: 90%;
    border-bottom: 1px solid lightblue;
    border-top: 1px solid lightblue;
    display: flex;
}
.discover-text-cont{
    width: 50%;
    margin: 10px;
    display: flex;
    position: relative;
    left: 40px;
    align-items: center;
    height: 70%;
}
.discover-text{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   letter-spacing: 0.4px;
}
.search-container{
    border: 2px solid red;
    width: 50%;
    display: flex;
    justify-content: space-around;
}