.user-cont {

    height: 1400px;
    width: 100vw;
    display: flex;
}

.user-div-cont {
    width: 100%;
    display: flex;
    gap: 10px;
}

.user-pro-div {
    border: 2px solid rgb(238, 230, 230);
    margin: 50px;
    width: 400px;
    border-radius: 10px
}

.profile-wrap {
    height: 220px;
}

.image-cont {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.text-pro-div {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(75, 72, 72);
}

.booking-cont {

    height: 50px;
    width: 100%;
}

.booking-wrap {

    margin: 10px;
    height: 20px;
    display: flex;
    gap: 20px;
}

.book-icon {
    color: rgb(128, 108, 108);
    padding-left: 20px;
    font-size: large;
}

.display-container {
    border: 2px solid rgb(238, 230, 230);
    margin: 50px;
    width: 70%;
    border-radius: 10px;
    height: 90%;

}

.display-main {
    display: flex;
    height: 100%;
}

.booking-container {
    width: 100%;
    height: 100px;
}

.book-wrap {
    background-color: rgb(238, 224, 224);
    width: 350px;
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allbooking {
    background-color: rgb(35, 110, 35);
    height: 40px;
    width: 250px;
    border-radius: 10px;
}
.title-div {
    margin: 10px;
    height: 90%;
    width: 100%;
}
.banner-div-pro {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.banner-div-one {
    border: 2px solid rgb(238, 230, 230);
    width: 300px;
}
.banner-div-two {
    height: 100px;
    width: 100px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-div-three {
    border: 2px solid rgb(238, 230, 230);
    width: 300px;
}
.form-div {
    display: flex;
}
.book-main {
    height: 300vh;
    background-color: rgb(230, 235, 236);
}

.book-div-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bookable{
    background-color: rgb(9, 151, 68);
    height: 40px;
    width: 120px;
    position: relative;
    left: 210px;
    bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.bookable-text{
    color: white;
    font-size: medium;
    letter-spacing: 0.6px;
    
}
.book-name-sect {
    height: 80px;
    background-color: white;
}

.book-name-wrap {
    height: 90px;
}
.book-name-cont {
    display: flex;
    width: 100%;
    border-right: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    border-top: 1px solid rgb(219, 227, 230);
}
.book-name-h1 {
    margin-left: 30px;
    font-size: 30px;
    position: relative;
    left: 40px;
}
.book-search-cont {
    width: 40%;
    margin-top: 13px;
    margin-left: 14px;
    display: flex;
    gap: 10px;
    position: relative;
    left: 50px;
}
.book-search-input {
    width: 50%;
    display: flex;
}
.book-search-input input {
    width: 300px;
    height: 35px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}
.seach-input {
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
    left: 35px;
    top: 4px;
    color: rgb(223, 216, 216);
}
.book-select {
    z-index: 2;
    width: 45%;
}
.book-select-cont {
    border: 1px solid rgb(223, 211, 211);
    margin: 10px;
    height: 40px;
    display: flex;
    gap: 15px;
    border-radius: 5px;
}
.whistle {
    margin-left: 10px;
    height: 30px;
    margin-top: 5px;
}
.whistle-icon{
    width: 100%;
}
.all-sport {
    margin-top: 10px;
}
.down {
    margin-left: auto;
    height: 30px;
    margin-top: 5px;
    width: 100%;
}
.sports-dropdown {
    width: 300px;
    height: 350px;
    border: 1px solid rgb(207, 223, 228);
    border-radius: 10px;
}
.sport-drop{    
    height: 100%;
    margin: 0;
    padding: 0;
}
.sports-cont{
    height: 19%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}
.check-box{
margin-left: 10px;
width: 20px;

}
.sport-name-wrap{
width: 200px;
display: flex;
justify-content: center;
align-items: center;
font-size: large;
font-weight: 500;
font-family: "Poppins", sans-serif;
}
.sport-img-wrap{
    height: 40%;
    margin-top: 15px;
    position: relative;
    right: 70px;
}
.venue-nav-bar{
  border-bottom: 1px solid lightblue;
  background-color: white;
  height: 80px;               
  display: flex;              
  align-items: center;        
  padding: 0 20px;            
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.venue-nav-wrap{
    display: flex;           
  align-items: center;       
  height: 100%;             
  width: 100%;
}
.venue-disp{
    height: 100%;
    width: 50%;
    display: flex;
}
.venue-wrap{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.venue-text{
    font-size: large;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}
.tour-wrap{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tour-text{
    font-size: large;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}
.turflist-card-sect{
    height: 50%;
    position: relative;
    top: 20px;
    margin: 15px;
}
.turflist-card-cont{
    margin: 10px;
    display: grid;
    height: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    overflow: hidden;
}
.turflist-cards{
   display: flex;
   width: 350px; 
   height: 400px;
   flex-direction: column;
   margin: 20px;
   border-radius: 20px;
   background-color: white;
   cursor: pointer;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
transition: transform 0.3s ease-in-out;
}
.turflist-cards:hover {
  transform: scale(1.05); 
}

.turf-img{
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.turf-name-book{
    height: 30%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.turf-span-name{
    font-size: large;
    letter-spacing: 0.5px;
    margin-top: px;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 500;
    font-family:"Poppins", sans-serif ;
    color: rgb(36, 23, 23);
    
}
.turf-address-book{
    font-size: medium;
    font-weight:lighter;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 10px;
}
.turf-game-icon{
    width: 100px;
    height: 30px;
    display: flex;
    gap: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 40px;
}
.turf-img-icon{
    width: 20px;
    height: 30px;
    margin-top: 30px;
}
.show-more-div{
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-more-btn{
    height: 40px;
    width: 150px;
    background-color: rgb(5, 172, 75);
    border: none;
    border-radius: 10px;
    color: white;
    letter-spacing: 0.3px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.show-more-btn:hover{
    transform: scale(1.05); 
}