.user-cont {
    height: 1400px;
    width: 100vw;
    display: flex;
}

.user-div-cont {
    width: 100%;
    display: flex;
    gap: 10px;
}

.user-pro-div {
    border: 2px solid rgb(238, 230, 230);
    margin: 50px;
    width: 400px;
    border-radius: 10px;
}

.profile-wrap {
    height: 220px;
}

.image-cont {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.text-pro-div {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(75, 72, 72);
}

.booking-cont {
    height: 50px;
    width: 100%;
}

.booking-wrap {
    margin: 10px;
    height: 20px;
    display: flex;
    gap: 20px;
}

.book-icon {
    color: rgb(128, 108, 108);
    padding-left: 20px;
    font-size: large;
}

.display-container {
    border: 2px solid rgb(238, 230, 230);
    margin: 50px;
    width: 70%;
    border-radius: 10px;
    height: 90%;
}

.display-main {
    display: flex;
    height: 100%;
}

.booking-container {
    width: 100%;
    height: 100px;
}

.book-wrap {
    background-color: rgb(238, 224, 224);
    width: 350px;
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allbooking {
    background-color: rgb(35, 110, 35);
    height: 40px;
    width: 250px;
    border-radius: 10px;
}

.title-div {
    margin: 10px;
    height: 90%;
    width: 100%;
}

.banner-div-pro {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-div-one {
    border: 2px solid rgb(238, 230, 230);
    width: 300px;
}

.banner-div-two {
    height: 100px;
    width: 100px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-div-three {
    border: 2px solid rgb(238, 230, 230);
    width: 300px;
}

.form-div {
    display: flex;
}

.book-main {
    height: 100vh;
    background-color: rgb(224, 233, 236);
}

.book-div-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.book-name-sect {
    height: 80px;
    background-color: white;
}

.book-name-wrap {
    height: 90px;
}

.book-name-cont {
    display: flex;
    width: 100%;
    border-right: 1px solid rgb(219, 227, 230);
    border-bottom: 1px solid rgb(219, 227, 230);
    border-top: 1px solid rgb(219, 227, 230);
    background-color:white;
}

.book-name-h1 {
    margin-left: 30px;
    font-size: 30px;
    position: relative;
    left: 40px;
}

.book-search-cont {
    width: 40%;
    margin-top: 13px;
    margin-left: 14px;
    display: flex;
    gap: 10px;
    position: relative;
    left: 50px;
}

.book-search-input {
    width: 50%;
    display: flex;
}

.book-search-input input {
    width: 300px;
    height: 35px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

.seach-input {
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
    left: 35px;
    top: 4px;
    color: rgb(223, 216, 216);
}

.book-select {
    z-index: 2;
    width: 45%;
}

.book-select-cont {
    border: 1px solid rgb(223, 211, 211);
    margin: 10px;
    height: 40px;
    display: flex;
    gap: 15px;
    border-radius: 5px;
}

.whistle {
    margin-left: 10px;
    height: 30px;
    margin-top: 5px;
}

.all-sport {
    margin-top: 10px;
}

.down {
    margin-left: auto;
    height: 30px;
    margin-top: 5px;
}

.sports-dropdown {
    width: 300px;
    height: 350px;
    border: 1px solid rgb(207, 223, 228);
    border-radius: 10px;
}

.sport-drop {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sports-cont {
    height: 19%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.check-box {
    margin-left: 10px;
    width: 20px;
}

.sport-name-wrap {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.sport-img-wrap {
    height: 40%;
    margin-top: 15px;
    position: relative;
    right: 70px;
}
.venue-nav-bar {
    border-bottom: 1px solid lightblue;
    background-color: white;
    height: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: red;
    display: flex;

}
.venue-nav-wrap {
    height: 90%;
    border-top: 1px solid rgb(219, 227, 230);
    display: flex;
}
.venue-disp {
    height: 100%;
    width: 50%;
    
}
.venue-wrap {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.venue-text {
    font-size: large;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.turflist-card-sect{
    height: auto;
    width: 100%;
    margin: 10px;
    position: relative;
    top: 30px;
}
.turflist-card-cont{
    display: grid;
  
    grid-template-columns: repeat(3,1fr);
    margin: 30px;
    
    gap: 20px;
}

.turflist-cards{
width: 300px;
height: 200px;
flex-direction: column;
display: flex;
background-color: red;
}

@media screen and (max-width: 768px) {
    .user-cont {
        flex-direction: column;
        height: auto;
    }

    .user-div-cont {
        flex-direction: column;
        gap: 20px;
    }

    .user-pro-div {
        width: 90%;
        margin: 20px auto;
    }

    .display-container {
        width: 95%;
        margin: 20px auto;
        height: auto;
    }

    .banner-div-pro {
        flex-direction: column;
        height: auto;
    }

    .banner-div-one,
    .banner-div-three {
        width: 90%;
    }

    .book-name-cont {
        flex-direction: column;
        align-items: flex-start;
    }

    .book-name-h1 {
        font-size: 22px;
        left: 0;
        margin: 10px 0;
    }

    .book-search-cont {
        width: 100%;
        left: 0;
        margin: 10px 0;
    }

    .book-search-input input {
        width: 100%;
    }

    .venue-disp,
    .venue-wrap {
        width: 100%;
    }

    .venue-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .user-pro-div {
        width: 100%;
        margin: 10px 0;
    }
    .book-wrap {
        width: 90%;
        margin: 10px auto;
    }
    .allbooking {
        width: 100%;
    }
    .book-name-h1 {
        font-size: 18px;
    }
    .book-search-cont {
        flex-direction: column;
        gap: 5px;
    }
    .book-search-input input {
        width: 100%;
        font-size: 14px;
    }
    .sports-dropdown {
        width: 100%;
    }
    .venue-text {
        font-size: 14px;   
    }

    .banner-div-two {
        height: 80px;
        width: 80px;
    }
}
