.home-container{
    height: 500vh;  
    background-color: rgb(237, 243, 245);
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
.hero-cont{
    height: 20%;
    display: flex;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.left-cont{
    width: 50%;
   
}
.left-wrap{

    margin: 10px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-div{
    height: 50%;
    display: flex;
    flex-direction: column;   
}
.home-input{
    height: 35px;
    width: 40%;
    position: relative;
    left: 100px;
    border-radius: 20px;
    border: 1px solid lightgray;
    outline: none;
    background-color: rgb(232, 238, 240);
    text-align: center;
    font-size: large;
}
.left-info{
 color: rgb(59, 44, 44);
 position: relative;
 left: 100px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
.left-para{
    font-size: large;
    position: relative;
 left: 100px;
     letter-spacing: 0.5px;
    color: rgb(102, 85, 85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.right-cont{
    width: 50%;
    
}
.right-wrap{
    height: 90%;
    margin: 10px;
}
.right-div{
    height: 80%;
    margin: 20px;
}
.kick-icon{
    height: 100%;
    position: relative;
    top: 100px;
    left: 50px;
}
.home-content{
    height: 50%; 
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
}
.content-wrap{
margin: 30px;
position: relative;
top: 30px;
background-color: white;
height: 90%;
border-radius: 20px;
display: flex;
flex-direction: column;

}
.home-venue{
    height: 30%;
    margin: 5px;

}
.venue-text-home{
    position: relative;
    left: 40px;
    top: 50px;
    font-size: xx-large;
    letter-spacing: 0.5px;
    color: rgb(48, 43, 43);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.see-all{
    margin-right: auto;
    position: relative;
    left: 1100px;
    color: rgb(0, 153, 59);
    font-size: larger;
    cursor: pointer;
}
.show-turf-cont{
    margin: 20px;
    display: flex;
    position: relative;
    top: 50px;
    height: 330px;
    display: flex;
    gap: 10px;
}
.home-turf-cards{
    width: 35%;
    border: 1px solid rgb(235, 228, 228);
    display: flex;
    flex-direction: column;
    height:90%;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.home-turf-img{
    width: 95%;
    height: 60%;
    border-radius: 15px;
    margin-left: 7px;
    top: 5px;
    position: relative;
    background-color:gray;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}.home-turf-name{
    color: rgb(36, 34, 34);
    font-size: large;
    text-transform: capitalize;
    margin-left: 15px;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.home-turf-address{
    color: rgb(78, 75, 75);
    letter-spacing: 0.4px;
    position: relative;
    bottom: 20px;
    left: 12px;
    top: 5px;
    font-size: medium;
    text-transform: capitalize;
}
.popular {
  margin: 30px 0 20px 40px; /* top, right, bottom, left */
  letter-spacing: 0.5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 1.8rem;
  font-weight: 600;
  color: #302b2b;
  position: relative;
  top: 80px;
}
.home-game-cards{
    position: relative;
    top: 70px;
    margin: 30px;
    height: 320px;
    display: flex;
    gap: 10px;
}
.home-game-card{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.home-game-img{
    width: 90%;
    height: 90%;
    margin: 10px;
    border-radius: 10px;
}
.home-game-name{
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.home-blog-cards{
    position: relative;
    top: 50px;
    height: 350px;
}
.home-blog-text{
    position: relative;
    left: 40px;
    top: 10px;
    font-size: xx-large;
    letter-spacing: 0.5px;
    color: rgb(48, 43, 43);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.home-blog-card{
    display: flex;
    flex-direction: column;
    height: 90%;
}
.home-blog-img{
    height: 70%;
    width: 25%;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    left: 20px;
}
.home-blog-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 50px;
    top: 10px;
    font-size: larger;
    font-weight: 600;
    color: rgb(49, 44, 44);
}
.author-wrap{
    display: flex;
    gap: 10px;
}
.home-blog-author{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 50px;
    top: 30px;
    text-transform: capitalize;
    font-weight: 600;  
    font-size: medium;
    color: rgb(131, 128, 128);
}
.home-created{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 50px;
    top: 30px;
    text-transform: capitalize;
    font-weight: 600;  
    font-size: medium;
    color: rgb(131, 128, 128);
}
.home-about{
    height: 600px;
    position: relative;
    top: 30px;
}
.about-wrap{
    margin: 30px;
    border-radius: 20px;
    height: 90%;
    background-color: white;
    display: flex;
}
.about-div-cont{
    width: 70%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

}
.about-para{
    color: rgb(58, 55, 55);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: larger;
     font-weight: 600;
}
.about-btn{
height: 40px;
width: 200px;
border: none;
border-radius: 10px;
font-size: large;
background-color: rgb(0, 200, 93); 
color: white;
font-weight: 600;
letter-spacing: 0.4px;
cursor: pointer;
}
.about-img-div{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:30px;
    left: 30px;
}
.about-img{
    height: 90%;
   
}