.owner-main{
    
    position: relative;
    top: 120px;
}
.owner-div{
  
 display: flex;
 padding: 20px;
 gap: 20px;
}
.owner-left{
  
    height: 500px;
    width: 30%;
    position: relative;
    left: 20px;
}
.owner-left-cont{
   
    width: 95%;
    margin: 10px;
    height: 90%;
}
.owner-profile{
    
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.owner-icon{
    font-size: 100px;
   color: rgb(0, 189, 78);
}
.owner-menu{
   display: flex;
   flex-direction: column;
   gap: 2px;
}
.owner-profile span{
    text-transform: capitalize;
    font-size: larger;
    font-weight: 600;
    color: rgb(54, 49, 49);
    letter-spacing: 0.4px;
}
.owner-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50%;
}

.owner-turf{
    
    height: 20% ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 77%;
    position: relative;
    left:30px ;
    color: rgb(0, 189, 78);
    font-weight: 600;
    font-size: larger;
    gap: 20px;
}
.owner-right{
   
    width: 60%;
    position: relative;
    height: 500px;
    left: 20px ;
    top: 50px;
    display: flex;
}
.owner-menu .active{
    background-color: rgb(0, 189, 78);
    font-family: 'poppins';
    color: white;
    font-weight: 600;
    font-size: larger;
    border: 4px solid rgb(233, 228, 228) ;
}
.owner-turf-cont{
    border: 1px solid green;
    height: 100%;
    border-radius: 10px;
    width: 100%;
}
.turf-head-cont{
    
    height: 20%;
    width: 50%;
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
}
.turf-head-cont::after{
    content: '';
   position: relative;
   bottom: 20px;
    height: 3px;
    border-top: 3px solid rgb(0, 189, 78);
    width: 80px;
    display: block;
    }
  .add-turf-btn {
  height: 40px;
  font-weight: 600;
  font-size: medium;
  position: relative;
  left: 15px;
  bottom: 30px;
  background-color: rgb(0, 189, 78);
  transition: all 0.3s ease;
}

.add-turf-btn:hover {
 
  border-color: rgb(224, 215, 215) !important;
  
}

