    .turf-cont {
        height: 100%;      
    }

    .turf-display-cont {
        display: flex;
        height: 15%;
        background-color: white;
        border-bottom: 1px solid rgb(228, 236, 240);
    }

    .turf-disp-name-cont {
        height: 80px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .h-turf {
        margin: 5px;
    }

    .p-turf {
        margin: 5px;
    }

    .btn-wrapper {
        height: 80px;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .turf-btn {
        margin-left: 20px;
        height: 40px;
        width: 120px;
        border-radius: 10px;
        font-weight: 600;
        font-size: large;
    }

    .custom-card-turf {
        width: 400px;
        height: 400px;
    }

    .custom-card-turf .ant-card-body {
        padding: 0 !important;
    }

    .turf-img-div {
        height: 170px;
        position: relative;
    }

    .poster-image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .poster-image:hover {
        transform: scale(1.05);
    }

    .turf-info-div {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .turf-name {
        font-weight: 800;
        font-size: large;
    }

    .location-wrap {
        margin: 3px;
        display: flex;
        gap: 5px;
    }

    .location-icon {
        margin: 3px;
    }

    .turf-timings {
        margin: 3px;
        display: flex;
    }

    .clock-icon {
        margin-right: 7px;
        margin-top: 3px;
    }

    .turf-phone-wrap {
        margin: 3px;
        display: flex;
    }

    .phone-icon {
        margin-top: 2px;
        margin-right: 5px;
    }

    .turf-btn-wrapper {
        height: 50px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .edit-btn-turf {
        width: 100px;
        height: 40px;
        font-weight: 600;
        background-color: #1890ff;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .edit-btn-turf:hover {
        background-color: #40a9ff;
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .delete-btn-turf {
        width: 100px;
        height: 40px;
        font-weight: 600;
        background-color:rgb(201, 51, 51);
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .delete-btn-turf:hover {
        background-color:rgb(173, 82, 82) !important;
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }