.edit-profile{
   
    position: relative;
    left: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.edit-head{
   
    height: 100px;
    width: 100%;
}
.edit-head span{
    position: relative;
    margin: 20px;
    font-size: xx-large;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: rgb(0, 189, 78);
}
.edit-form{
    position: relative;
    right: 100px;
}