.container{
  
  height:100vh;
  width: 100%;
 
  box-sizing: content-box;
}
.login-wrap{
  height: 650px;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box{
  border: 2px solid black;
  height: 480px;
  width: 350px;
  display: flex;
  box-sizing: border-box;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-input{
display: flex;
border-radius:90px;
height: 50px;
width: 300px;
gap: 20px;
}
.button{
 height: 50px; 
 width: 200px;
 position: relative;
 left: 45px;
 top: 20px;
 border-radius: 50px;
 background-color: rgb(35, 173, 17);
 font-size: large;
}
.button:hover{
  background-color: rgb(19, 156, 19) !important;
}
.text{
  font-size: medium;
  color: black;
  padding-top: 10px;
  padding-left: 40px;
  font-weight: 500;
}