.footer-cont{
    background-color:rgb(229, 231, 231);
    height: 300px;
}
.footer-disp{
    display: flex;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer-logo{
    display: flex;
    gap: 20px;
    margin: 30px;
    
}
.company{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap :30px;
}
.company span{
    color: rgb(143, 119, 119);
    font-size: large;
    text-transform: capitalize;
}
.company li{
    color: rgb(44, 38, 38);
    text-transform: capitalize;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}