.header{
  height: 70px;
}
.navbar{
  height: 90%;
  display: flex;
 
}
.space{
  
  height: 100%;
  width: 170px;
}
.image-wrap{
  
  width: 200px;
  display: flex;
}
.logo{
  height: 60px;
  width: 80px;
  background-color: white ;
}
.logo-name{
  padding-top: 15px;
  font-family:'poppins',sans-serif;
  font-weight: 550;
  color: rgb(21, 80, 207);
}
.nav-items{
  display: flex;
  list-style: none;
  width: 330px;
  padding-left: 20px;
  padding-top: 22px;
  gap: 50px;
}
.li{
  color:rgb(92, 83, 83);
  text-decoration: none;
  font-size: larger;
}
.input-wrap{
  padding-top: 10px;
  height: 60px;
  width: 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input-nav{
  width: 230px;
  height: 38px;
  border-radius: 20px;
  text-align: center;
  
}
.search-icon{
  position:absolute;
  right: 39px;
  color: white;
  height: 28px;
  padding-right: 10px;
  background-color: rgb(15, 67, 165);
  border-radius: 30px;
  text-align: center;
  align-items: center;  
}
.bell-wrap{
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}.bell-icon{
  font-size: larger ;
  padding-top: 5px;
}
.user-wrap{
   height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-top: 5px;
}
