.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(158, 145, 145, 0.582);
    z-index: 1;
    animation: fadeIn 0.2s ease-in;
}

.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    background-color: white;
    z-index: 2;
    animation: slideInRight 0.3s ease-out;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
}

.profile {
    padding: 20px !important;
    height: 30% !important;
    width: 83% !important;
    display: flex;
    flex-direction: column;
}
.profile-wrapper{
    display: flex;   
}
.image{
    padding-top: 40px;
    padding-right: 10px;
    width: 50%;
}
.logo{
    height: 70px;
    padding-left: 20px;
}  
.info{
    padding-top: 40px;
    padding-right: 20px;
    width: 50%;
}
.view{
    cursor: pointer;
    color: rgb(34, 77, 141);
    padding-top: 5px;
}.nav-div{
    padding-top: 150px;
    padding-left: 30px;
    display: flex;
}
.nav-ul{
    display: flex;
    list-style: none;
    flex-direction: column-reverse;
    gap: 20px;
}.li{
    color: black ;
    text-decoration: none;
}
.performance-wrapper{
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}
.your{
    font-weight: 400;
}